.link {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}

a:visited {
    color: #636466;
}

.feed {
	overflow: hidden;
	}
.feed_name {
	white-space: nowrap;
	}
h2 {
	overflow: hidden;
	font-size: 25px;
	margin-bottom: 0px;
	}
#slidebar {
	border-radius: 6px;
	color: #636466;
	position: relative;
	right: 40px;
	}
.new_feed_input {
	font-size : 15px;
	font-weight: bold;
	margin-bottom: 10px;
	border-radius: 6px;
	}
.new_name {
	font-size : 25px;
	font-weight: bold;
	margin-bottom: 10px;
	position: relative;
	top: 6px;
	border-radius: 10px;
	}

.move_left{
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 13px 10px 0;
	border-color: transparent #636466 transparent transparent;
	}

.move_right{
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 13px;
	border-color: transparent transparent transparent #636466;
	margin-left: 6px;
	margin-right: 16px;
	}
.hide{
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 12px 12px 12px;
	border-color: transparent transparent #636466;
	margin-bottom: 14px;
	}
.show{
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 12px 12px 0 12px;
	border-color:  #636466 transparent transparent;
	}

.rename{
	display: inline-block;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	border-style: solid; 
	border-color: #636466;
	margin-left: 16px;
	margin-right: 16px;

/*
	margin-top: 10px;
*/

	}
.remove{
	margin-bottom: 12px;
	}

